app = "draft-backend"
primary_region = "bom" 

[build]
  directory = "server" 

[http_service]
  internal_port = 8080 
  force_https = true
  
  auto_stop_machines = false 
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  size = "shared-cpu-1x"
  memory = "512mb"

[env]
  NODE_ENV = "production"